@charset "UTF-8";

html{
	font-size: inherit !important;
}

.collapse.in {
    display: block !important;
}

a, a:hover, a:focus{
	box-shadow: none !important;
}

.link_error{
	font-size: 13px;
	color: red;
	font-style: italic;
}

.panel .panel-heading a{
	color:#000;
	font-weight: bold;
	font-size: 14px;
}

.obr-front{
	font-size: 14px !important;
}

.info-block .content p{
	margin-bottom: 5px;
}

table td, table th{
	border: 1px solid #ddd;
}

.table-responsive > .table > tbody > tr > td, 
.table-responsive > .table > tbody > tr > th, 
.table-responsive > .table > tfoot > tr > td, 
.table-responsive > .table > tfoot > tr > th, 
.table-responsive > .table > thead > tr > td, 
.table-responsive > .table > thead > tr > th{
	white-space: normal !important;
}
#obr_edu table td, #obr_edu table th{
	border-top: none;
	padding: 5px;
}
#obr_edu table th{
	border-top:1px solid #ddd;
	color:#000;
}

/*основные сведения*/
.obr-front{}
.obr-front .info-block{
	border: 1px solid #ddd;
	margin-bottom: 15px;
	padding: 15px;
	box-sizing: border-box;
}
.obr-front .info-block .title{
	font-weight: bold;
	padding-bottom: 5px;
	color:#000;
}
.obr-front .info-block .content{}

.obr-front ul, .obr-front ol{
	margin-left:15px !important;
}


/*структура*/
.obr-front.structure{}
.obr-front.structure .image{
	width: 100%;
	overflow: hidden;
	text-align: center;
}
.obr-front.structure .image img{
	max-width: 100%;
	height: auto;
}
.obr-front.structure .panel{}
.obr-front.structure .panel-heading{}
.obr-front .panel-heading a{
	display: block;
	font-size: 14px;
}
.obr-front.structure .panel-body{}
.obr-front.structure .str-block{
	padding-bottom: 15px;
}
.obr-front.structure .str-block .title{
    font-weight: bold;
    padding-bottom: 5px;
	color: #000;
}
.obr-front.structure .str-block .content{}


/*документы*/
.obr-front.docs{}
.obr-front.docs .doc-title{
	font-weight: bold;
	padding-bottom: 5px;
	color: #000;
}
.obr-front.docs .obr-fin .doc-block{
	margin-bottom: 5px;
}
.obr-front.docs .obr-fin .content p{
	margin-bottom: 5px;
}
.obr-front.docs .obr-fin{
	margin-top:15px;
}
.obr-front.docs .panel-group{
	margin-bottom: 15px;
	margin-top:0;
}


/*образование*/
.obr-front.edu{}
.obr-front.edu .str-block{
	padding-bottom: 15px;
}
.obr-front.edu .str-block .title{
	font-weight: bold;
	padding-bottom: 5px;
}

#obr_edu table{
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.75em;
	table-layout: fixed;
	width: 100%;
	font-size: 12px;
}
#obr_edu table > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}


/*образовательные стандарты*/
.obr-front.stand{}
.obr-front.stand .link-title{
	font-weight: bold;
	padding-bottom: 5px;
	color: #000;
}


/*руководство педсостав*/
.obr-front.ped{}
.obr-front.ped .ruc-block{
	overflow: hidden;
	border: 1px solid #ddd;
	margin-bottom: 15px;
	padding: 15px;
	box-sizing: border-box;
}
.obr-front.ped .ruc-title{
	font-weight: bold;
	color: #000;
}
.obr-front.ped .img-block{
	padding: 10px 0;
}
.obr-front.ped .img-block img{
	max-width: 250px;
	height: auto;
	border: 1px solid #ddd;
	padding: 3px;
	box-sizing: border-box;
}
.obr-front.ped .ruc-block .text-block{}
.obr-front.ped .ruc-block .text-block .title{
	font-weight: bold;
	padding-bottom: 5px;
	color: #000;
}
.obr-front.ped .ruc-block .text-block .content{}
.obr-front.ped .panel .title{
	font-weight: bold;
	padding-bottom: 5px;
	color: #000;
}
.zam-block, .ped-block{
	padding-bottom: 15px;
}


/*платные услуги*/
.obr-front.paid .link-title {
    font-weight: bold;
	padding-bottom: 5px;
}


/*главная страница сведений*/
.obr-front.sveden ul{
	margin:0 !important;
	padding:0;
	display: block;
	list-style: none;
}


/*медиа запросы*/
@media only screen and (max-width:767px){
	
	.table-responsive > .table > tbody > tr > td, 
	.table-responsive > .table > tbody > tr > th, 
	.table-responsive > .table > tfoot > tr > td, 
	.table-responsive > .table > tfoot > tr > th, 
	.table-responsive > .table > thead > tr > td, 
	.table-responsive > .table > thead > tr > th{
		width: max-content !important;
	}

	
}







